# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MVC_MVP_MVVM.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\_prj\MVC_MVP_MVVM\.idea\.idea.MVC_MVP_MVVM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
